body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-list {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  margin: 10px auto;
  overflow: hidden; /* Ensure contents don't overflow during animation */

  
}

.box-edited {
  animation: color-change 0.5s ease-in-out;
}

@keyframes color-change {
  0% {
    background-color: yellow;
  }

  50% {
    background-color: green;
  }

  100% {
    background-color: white;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  & > button {
    margin: 0 auto 10px;
  }
}

button {
  width: 100px;
  margin: auto;
}